# Virtual environments
.venv/
venv/
env/

# Python caches
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store

# Tooling caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# OS
Thumbs.db
